@using System.Security.Claims

@model CreateBookingViewModel

<h2>Create Booking</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="CreateBookingItem">
    <div class="form-group">
        <label asp-for="Booking.Customer.Name">Name</label> <span class="text-bg-danger">*</span>
        <input asp-for="Booking.Customer.Name" class="form-control" placeholder="@User.FindFirstValue(ClaimTypes.Name)" />
        <span asp-validation-for="Booking.Customer.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.Customer.Phone">Phone</label> <span class="text-bg-danger">*</span>
        <input asp-for="Booking.Customer.Phone" class="form-control" />
        <span asp-validation-for="Booking.Customer.Phone" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Booking.Customer.Email" value="@User.FindFirstValue(ClaimTypes.Email)" />
        
   <!-- <div class="form-group">
        <label asp-for="Booking.Customer.Email">Email</label> <span class="text-bg-danger">*</span>
        <input asp-for="Booking.Customer.Email" class="form-control" />
        <span asp-validation-for="Booking.Customer.Email" class="text-danger"></span>
     </div>-->

    <div>
        <input type="hidden" asp-for="Booking.ItemId" value="@Model.Item.ItemId" />
    </div>
    <div>
        <input type="hidden" asp-for="Booking.BookingDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <button type="submit" asp-route-itemId="@Model.Item.ItemId" class="btn btn-primary">Create Booking</button>

        <a asp-controller="Item"
           asp-action="Grid" class="btn btn-warning">Cancel</a>
    </div>
</form>
